* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.html {
    font-size: 16px;
}

.header {
    height: 3.5rem;
    background-color: lightslategrey;
}

.main {
    display: flex;
    min-height: calc(100vh - 3.75rem);
    flex-wrap: wrap;
}

.section-left {
    width: 50%;
    height: 200px;
    background-color: skyblue;
}

.section-right {
    width: 50%;
    height: 200px;
    background-color: tan;
}


/*ANCHO DE TABLET*/

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .section-left,
    .section-right {
        width: 100%;
    }
}