* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.seccion1 {
    height: 100px;
    background-color: #333;
}

.section2 {
    height: 200px;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/133/241/172/cielo-naturaleza-negras-nubes-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.seccion2__titulo {
    height: 50px;
    background-color: rgba(40, 40, 40, 0.5);
    text-align: center;
}

.seccion3 {
    height: 500px;
    background: #373B44;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}