header {
    background: gray;
}

section {
    background: yellow;
}

h1,
h2,
h3 {
    color: red;
}


/*Seleccionamos hijos sin importar el nivel*/

.anuncios .textoAnuncio {
    background: chocolate;
    color: white;
}

.card {
    background: royalblue;
}

.card .card-body {
    background: salmon;
}

.card .piede-pagina-card {
    background: green
}